/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

/* ─── Table Sticky ────────────────────────────────────────── */

tr:nth-child(even) td {
  background-color: rgb(240, 240, 240) !important;
}

tr:nth-child(odd) td {
  background-color: #fff;
}

.center {
  text-align: center;
}

/* For the ID Number column and ACTION */

.tableWrap {
  height: 70vh;
  width: calc(100vw -50px);
}

.tableWrap:hover {
  scrollbar-width: thin;
}

.tableWrap::-webkit-scrollbar {
  width: 8px;
}

.tableWrap::-webkit-scrollbar-thumb {
  background: transparent;
}

.tableWrap:hover::-webkit-scrollbar-thumb {
  background: #888;
}

.tableWrap th {
  position: sticky;
  top: 0;
  z-index: 3;
}

.tableWrap td:first-child {
  position: sticky;
  left: 0;
}
.tableWrap th:first-child {
  position: sticky;
  left: 0;
  z-index: 4;
}

.tableWrap td:last-child {
  position: sticky;
  right: 0;
}
.tableWrap th:last-child {
  position: sticky;
  right: 0;
  z-index: 4;
}

main.table {
  height: fit-content;
  background-color: white;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
  margin: 0px 30px;
  white-space: nowrap;
  overflow: auto;
}

.dataTable {
  width: 100% !important;
}

.table__header {
  width: 100%;
  height: 10%;
  background-color: white;
  padding: 0.8rem 1.9rem;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 15px;
  justify-content: flex-end;
}

.titleTable {
  font-size: 20px;
  text-wrap: nowrap;
  padding: 5px 10px;
  background-color: #377fb9;
  border-radius: 10px;
  color: white;
}

/* .table__header .input-group {
  width: 35%;
  height: 40px;
  background-color: rgba(207, 207, 207, 0.333);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.table__header .input-group:hover {
  width: 36%;
  background-color: #fff8;
  box-shadow: 0 0.1rem 0.4rem #0002;
}

.table__header .input-group img {
  width: 1.2rem;
  height: 1.2rem;
} */

.bx.bx-search-alt {
  margin-right: 10px;
}

.table__header .input-group input {
  width: 100%;
  padding: 0 0.5rem 0 0.8rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: 0.8rem auto;
  border-radius: 0.6rem;

  overflow: overlay;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
}

table {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

th {
  color: white;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #377fb9;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: 0.1s;
  transition: 0.3s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p {
  transition: 0.2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  display: none;
  padding: 10;
  font: 0 / 0;
  transition: padding 0.3s ease-in-out, font 0.3s ease-in-out;
}

.status {
  padding: 5px 0px;
  border-radius: 2rem;
  text-align: center;
}

.status.delivered {
  background-color: #86e49d;
  color: #006b21;
  width: 100%;
}

.status.cancelled {
  background-color: #d893a3;
  color: #b30021;
  width: 100%;
}

.status.pending {
  background-color: #8eccff;
  color: #377fb9;
  width: 100%;
}

.status.processing {
  background-color: #959595;
  color: black;
  width: 100%;
}

.padding {
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

thead th span.icon-arrow {
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  border: 0.5px solid transparent;
  text-align: center;
  font-size: 15px;
  margin-left: 0.5rem;
  transition: 0.2s ease-in-out;
}

thead th:hover span.icon-arrow {
  border: 1.4px solid white;
}

thead th:hover {
  color: white;
}

thead th.active span.icon-arrow {
  background-color: #86e49d;
  color: #fff;
}

thead th.asc span.icon-arrow {
  transform: rotate(180deg);
}

.bx.bxs-printer {
  color: #377fb9;
  font-size: 25px;
  margin-left: 15px;
  transition: transform 0.2s ease-in-out;
}

.bx.bxs-edit {
  color: #377fb9;
  font-size: 25px;
  margin-left: 15px;
  transition: transform 0.2s ease-in-out;
  margin-right: 10px;
}

.bx.bxs-edit:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.bx.bxs-trash-alt {
  color: #377fb9;
  font-size: 25px;
  margin-left: 15px;
  transition: transform 0.2s ease-in-out;
}

.bx.bxs-printer:hover,
.bx.bxs-trash-alt:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/*EXPORT BUTTON */
.tableHead {
  display: flex;
}

.export__file {
  display: flex;
  justify-content: center;
  text-align: center;
  text-wrap: nowrap;
}

.export__file-btn,
.export__file-btn2 {
  background-color: #377fb9;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.export__file-btn:hover {
  background-color: #336996;
  transform: scale(1.05);
}

.export__file-btn2:hover {
  background-color: #336996;
  transform: scale(1.05);
}
.export__file-btn2 i,
.export__file-btn i,
.export__file-btn p {
  display: inline-block;
  vertical-align: middle;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.export__file-btn2 p {
  display: inline-block;
  vertical-align: middle;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.export__file-btn p {
  font-size: 15px;
}

.export__file-btn i {
  margin-right: 5px;
}

.export__file-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
}

.export__file-btn1:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  pointer-events: none; /* Disable pointer events */
}

.export__file-btn1 {
  background-color: #4caf50;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  position: fixed;
  right: 75px;
  margin-right: 8px;
  display: none;
}

.export__file-btn1:hover:not(:disabled) {
  background-color: #336996;
  transform: scale(1.05);
}

.export__file-btn1 i,
.export__file-btn1 p {
  display: inline-block;
  vertical-align: middle;
  color: white;
}

.export__file-btn1 p {
  font-size: 14px;
}

.export__file-btn1 i {
  margin-right: 5px;
}

.export__file1 {
  display: inline-block;
  width: fit-content;
  margin-bottom: 10px;
  border: none;
}

/*BUTTON EDIT FORM*/
.edit-icon {
  font-size: 20px;
  color: #3498db;
  cursor: pointer;
  transition: all 0.3s;
}

.edit-icon:hover {
  transform: scale(1.1);
}

/*FORM MANAGE USER EDIT*/
.custom-modal {
  display: none;
  position: fixed;
  top: 10px;
  left: 45%;
  width: fit-content;
  height: 15px;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: slideDown 0.2s ease-in-out;
}

.custom-modal-content {
  background-color: #fefefe;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 4px solid #377fb9;
}

@keyframes slideDown {
  0% {
    top: -10%;
    /* Start off-screen */
  }

  100% {
    top: 1%;
    /* End at 10% from the top */
  }
}

.custom-close {
  float: right;
  cursor: pointer;
}

.updateButton {
  background-color: #377fb9;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  color: white;
  margin-left: 10px;
}

.updateButton:hover {
  background-color: #336996;
  transform: scale(1.05);
}

.updateButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.updatecon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.updatecon label {
  margin: 0 5px 0 0;
}

.accountstatus {
  width: 100%;
  display: flex;
}

.rolestatus {
  width: 100%;
  display: flex;
  margin-left: 15px;
}

/*UDPATE ACCOUNT STATUS ALERT*/
.custom-popup {
  display: none;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: #fff;
  font-weight: 700;
  top: 0;
  margin-top: 3px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 990;
  cursor: default;
  animation: slideDownAnimation 0.2s ease-in-out;
}

@keyframes slideDownAnimation {
  0% {
    opacity: 0;
    transform: translate(-50%, -10%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.editAccountTitle {
  font-size: 20px;
}

/* ─── Reset Pass Button ───────────────────────────────────── */
.reset__password-btn {
  background-color: #377fb9;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  color: white;
  font-weight: 600;
}

.reset__password-btn:hover {
  background-color: #336996;
  transform: scale(1.05);
}
.reset__password-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
}

/* ─── Delete Popup ────────────────────────────────────────── */

.overlayD {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(188, 64, 7, 0.6);
  z-index: 998;
}

.modalD {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 998;
}

.modal-header1 {
  padding: 0;
  margin: 0;
  background-color: #e0574d;
  border-radius: 10px 10px 0 0;
}

.modal-header1 h2 {
  font-size: 1rem;
  margin-left: 10px;
  font-weight: 800;
  margin-bottom: 5px;
  padding: 5px 0;
  color: white;
}

.modal-message1 {
  margin-bottom: 20px;
  text-align: center;
}

.modal-body1 {
  padding: 10px 50px;
  align-items: center;
}

.modal-buttons1 {
  text-align: center;
}

.modal-buttons1 button {
  margin-left: 10px;
  padding: 8px 30px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 600;
}

.modal-buttons1 button.yes1 {
  background-color: #e0574d;
  color: #fff;
  margin: 5px;
  transition: transform 0.3s ease;
}

.modal-buttons1 button.yes1:hover {
  transform: scale(1.1);
}

.modal-buttons1 button.yes1:disabled {
  background-color: gray;
  color: #fff;
  opacity: 0.5;
  cursor: not-allowed;
}
.modal-buttons1 button.no1 {
  background-color: #377fb9;
  color: #fff;
  margin: 5px;
  transition: transform 0.3s ease;
}

.modal-buttons1 button.no1:hover {
  transform: scale(1.1);
}

.bx.bxs-error-circle {
  color: #e0574d;
  font-size: 2.1rem;
}

/* ─── Viewmore ────────────────────────────────────────────── */
.viewMore {
  background-color: #377fb9;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  font-weight: 600;
  color: white;
}

.viewMore:hover {
  background-color: #336996;
  transform: scale(1.05);
}

.viewMore1 {
  background-color: #e0574d;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  font-weight: 600;
  color: white;
}

.viewMore1:hover {
  background-color: #e0574d;
  transform: scale(1.05);
}

.viewMore3 {
  background-color: #86e49d;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  color: #016c22;
}

/* ─── Export button ──────────────────────────────────────────────── */
.dt-layout-cell.dt-start {
  display: none;
  position: absolute;
  margin-top: 70px;
  margin-right: 15px;
  right: 17px;
  top: 0;
  justify-content: flex-end;
  background-color: #377fb9;
  border-radius: 10px;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.236);
}

.dt-buttons {
  display: flex;
  flex-direction: column;
  z-index: 99;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.236);
  background-color: #377fb9;
  border-radius: 10px;
}

.dt-buttons button {
  background-color: #377fb9;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.dt-buttons button:hover {
  background-color: #336996;
  transform: scale(1.05);
}

/* ─── Table Search ────────────────────────────────────────── */
.dt-search label {
  display: none;
}

.dt-input {
  width: 30%;
  height: 40px;
  background-color: rgba(207, 207, 207, 0.333);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border: none;
  position: absolute;
  z-index: 98;
  top: 0;
  margin-top: 27px;
  padding: 10px;
  outline: none;
}

.dt-input:hover {
  width: 31%;
  background-color: white;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.236);
  outline: none;
}

.dt-search input[type="search"]:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.236);
  background-color: white;
  outline: none;
}

.table__header1 {
  width: 100%;
  height: 10%;
  background-color: white;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ─── Filter Button ───────────────────────────────────────── */
.filterB {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #377fb9;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  color: #336996;
  transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
  background-color: #ffffff;
}

.filterB:hover {
  background-color: #336996;
  transform: scale(1.03);
  color: white;
}

.filterR {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #b81534;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  color: #b81534;
  transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
  background-color: #ffffff;
  margin-top: 10px;
}

.filterR:hover {
  background-color: #b81534;
  transform: scale(1.03);
  color: white;
}

.filterT {
  font-weight: 600;
}
.filterT1 {
  font-weight: 600;
  margin-left: 5px;
}

.active {
  background-color: #336996;
  color: white;
}

.tablefilter {
  display: none;
}

/* ─── Datepicker Table ────────────────────────────────────── */
.datepickerE {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Add these lines if you want to center align the content inside the div */
  display: none;
  flex-direction: column;
  justify-content: center;

  background-color: #fff;
  border-radius: 10px;
  padding: 20px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 4px solid #377fb9;
}

.datepick i {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 20px;
}

.datepick {
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px 10px;
}

.bx.bxs-x-circle {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 25px;
  margin-left: 10px;
  color: #336996;
}

.bx.bxs-x-circle:hover {
  transform: scale(1.1);
}
